.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--button-color);
  background-color: var(--button-backgrounf);
  border: 1px solid var(--button-border);
  border-radius: var(--rounded);
  height: var(--button-height);
  padding: var(--button-padding);

  &.md {
    --button-height: 2rem;
    --button-padding: 0 0.75rem;
  }

  &.secondary {
    --button-background: var(--neutral-700);
    --button-border: var(--neutral-600);
    --button-color: #848d97;

    &:hover:not(.pressed) {
      --button-background: #292e36;
    }

    &.pressed {
      --button-border: transparent;
      border-top: 3px solid #292e36;
      position: relative;
      overflow: hidden;
    }
  }
}
